<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">

    </head>
    <body>
        <div id="heading-box">
            <h1><%= title %></h1>

        </div>

        <form action="/create" method="POST">
            <input type="text" name="name" placeholder="description">
            <input type="date" name="date" placeholder="date">
            <input type="text" name="category" placeholder="category">
            <button type="submit"> Add Task</button>

        </form>
        
    </body>
</html>